@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --color-brand-dark: #1c1613;
  --color-brand-subtle: #3a322e;
  --color-brand-text: #d9d3d0;
  --color-brand-gold: #c5a37f;
  --color-brand-divider: #4a423e;

  --color-brand-skin-light: #f8f1ea;
  --color-brand-skin-medium: #e5d1bf;
  --color-brand-skin-deep: #bc9f8d;

  /* Typography */
  --font-poppins: "Poppins";
}

.open {
  opacity: 1;
  transition: transform 0.5s ease;
  scale: 100%;
  transform: translateY(0px);
  display: block;
}

.image-gradient {
  background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Images/hero.jpg");
  object-fit: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
